.movie-info {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  text-align: justify;
}

.movie-info h1 {
  text-align: center;
}

.movie-info img {
  border-radius: 5px;
}

.movie-info a {
  text-align: end;
  text-decoration: none;
  margin-top: 20px;
}